.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    background-color: #00000046;
    backdrop-filter: blur(2px);

    h1{
        color:#b3b3b3
    }
    ul{
        display: flex;
        margin: 0;
        transition: 300ms ease-in-out;

    
        li{
           transition: 300ms ease-in-out;
           list-style:none;
           padding: 10px;
        };
        a{
            transition: 300ms ease-in-out;
            text-decoration: none;
        };
        
    }
    .isActive{
        color: #ffffff;
        font: 1.5rem 'Roboto', sans-serif;
        transition: 300ms ease-in-out;
    }
}

